<div class="page-width">
  <div class="text-and-images d-flex flex-column">
    <div class="text-and-images__info flex-shrink-0 mb-1.5 mb-md-2.5">
      {%- render 'partial-heading', with {
        icon_color: section.settings.icon_color,
        subheading: section.settings.subheading,
        subheading_color: section.settings.subheading_color,
        heading: section.settings.heading
      } -%}

      <div class="rte text-black-600">
        {{ section.settings.content }}
      </div>

      {% if section.settings.enable_button %}
        <div class="mt-1 mt-md-2.5">
          <a href="{{ section.settings.button_url }}" class="btn btn-outline-dark btn--with-icon">
            {{ section.settings.button_label }}
            {%- render 'icon' with section.settings.button_icon, class: 'ml-0.5' -%}
          </a>
        </div>
      {% endif %}
    </div>

    <div class="text-and-images__app">
      {% for block in section.blocks %}
        {% render block %}
      {% endfor %}
    </div>

  </div>
</div>

{% schema %}
{
  "name": "Instafeed custom",
  "class": "section-space",
  "settings": [
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "select",
      "id": "subheading_color",
      "options": [
        {"value": "blue", "label": "Blue"},
        {"value": "red", "label": "Red"},
        {"value": "pink", "label": "Pink"},
        {"value": "orange", "label": "Orange"},
        {"value": "cream", "label": "Cream"},
        {"value": "light-green", "label": "Light green"},
        {"value": "green", "label": "Green"},
        {"value": "yellow", "label": "Yellow"},
        {"value": "black-600", "label": "Black"}
      ],
      "default": "blue",
      "label": "Subheading color"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "icon_color",
      "options": [
        {"value": "blue", "label": "Blue"},
        {"value": "red", "label": "Red"},
        {"value": "pink", "label": "Pink"},
        {"value": "orange", "label": "Orange"},
        {"value": "cream", "label": "Cream"},
        {"value": "light-green", "label": "Light green"},
        {"value": "green", "label": "Green"},
        {"value": "yellow", "label": "Yellow"},
        {"value": "black-600", "label": "Black"}
      ],
      "label": "Icon color"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "checkbox",
      "id": "enable_button",
      "label": "Enable button"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    },
    {
      "type": "select",
      "id": "button_icon",
      "options": [
        {"value": "arrow", "label": "Arrow"},
        {"value": "instagram", "label": "Instagram"},
        {"value": "facebook", "label": "Facebook"},
        {"value": "phone", "label": "Phone"},
        {"value": "email", "label": "Email"},
        {"value": "pin", "label": "Pin"}
      ],
      "default": "arrow",
      "label": "Button icon"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name":"Instafeed custom"
    }
  ]
}
{% endschema %}